<!-- <top-header></top-header>
<app-header></app-header>
<app-container></app-container> -->

<!-- <router-outlet></router-outlet> -->

<!--------------//Custom class directive//-------------->
<h2>Custom class & Style Directive</h2>
<div
  [appClass]="{ 'app-container': true, appHightlight: false, appFont: 5 > 2 }"
>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ecen since the 1500s
  </p>
</div>

<!--------------//Custom class directive//-------------->
