<!-- <top-header></top-header>
<app-header></app-header>
<app-container></app-container> -->

<!-- <router-outlet></router-outlet> -->

<div class="notice-container">
  <div class="notice-header">
    <button (click)="displayTerms()">+</button>
  </div>
  <div class="notice-info">
    <p>Read terms of services and privacy policy</p>
  </div>
  <!-- <ng-template [ngIf]="display" [ngIfElse]="myTempVar"> -->

  <div class="notice-body" *appIf="display">
    <h1>Terms of services and privacy policy</h1>
    <p>
      Terms of Service; Didn't Read is a group effort that rates 67 companies'
      terms of service and privacy policies, though its site says the ratings
      are "outdated."[10] It also has browser add-ons that deliver the ratings
      while at the website of a rated company. Members of the group score each
      clause in each terms of service document, but "the same clause can have
      different scores depending on the context of the services it applies
      to."[11]
    </p>
    <h2>Terms of services</h2>
    <p>
      The Services tab lists companies in no apparent order, with brief notes
      about significant clauses from each company. In particular, competitors
      are not listed together so that users can compare them. A link gives
      longer notes. It does not typically link to the exact wording from the
      company. The Topics tab lists topics (like "Personal Data" or
      "Guarantee"), with brief notes from some companies about aspects of the
      topic.
    </p>
    <h2>Privacy Policy</h2>
    <p>
      TOSBack.org, supported by the Electronic Frontier Foundation, lists
      changes in terms and policies sequentially, 10 per page, for 160 pages, or
      nearly 1,600 changes, for "many online services."[12] There does not seem
      to be a way to find all changes for a particular company, or even which
      companies were tracked in any time period. It links to Terms of Service;
      Didn't Read, though that typically does not have any evaluation of the
      most recent changes listed at TOSBack.org.
    </p>
  </div>
  <!-- </ng-template> -->

  <!-- <ng-template #myTempVar>
    <div>
      <p>
        TOSBack.org, supported by the Electronic Frontier Foundation, lists
        changes in terms and policies sequentially, 10 per page, for 160 pages,
        or nearly 1,600 changes, for "many online services."[12] There does not
        seem to be a way to find all changes for a particular company, or even
        which companies were tracked in any time period. It links to Terms of
        Service; Didn't Read, though that typically does not have any evaluation
        of the most recent changes listed at TOSBack.org.
      </p>
    </div>
  </ng-template> -->
</div>
