<!-- <h3>Hello everyone! Welcome to {{ title }}</h3> -->
<!-- <top-header></top-header> -->
<!-- <top-header></top-header>
<app-header></app-header>
<app-container></app-container> -->

<!-- <button type="button" class="btn btn-danger">Danger</button> -->

<!---------//ngOnDestroy example//----------------->

<div class="container">
  <input type="text" name="" id="" #inputEl (focus)="(0)" />
  <button (click)="onBtnClicked(inputEl)">Submit</button>
  <z-teach [message]="inputVal" *ngIf="!toDestroy">
    <p #temp>User has entered following text:{{ inputVal }}</p>
  </z-teach>

  <br /><br />
  <button (click)="destroyComponent()">Show/Hide</button>
</div>

<!---------//ngOnDestroy example//----------------->
