<!-- <div class="observe-container">
  <h2>Observerable in angular</h2>
  <div class="data-list" *ngFor="let x of data">Mapped {{ x }}</div>
  <div class="data-list" *ngFor="let x of filterValue">filtered {{ x }}</div>
  <div class="data-list" *ngFor="let x of pipedValue">piped {{ x }}</div>
  <div class="data-list" *ngFor="let x of shothandValue">shorthand {{ x }}</div>

  <button (click)="GetAsyncData()">Get Data</button>
</div> -->

<!--------//subjects//------- -->
<new-task></new-task>
<show-task></show-task>
