<!------------//property and event binding//----------------->

<div class="propEven">
  <input type="text" [value]="textValue" (focus)="logValue()" /> <br />

  <p id="display"></p>
  <button>Click Me</button>
</div>

<!------------//property and event binding//----------------->

<!------------//@HostBinding and @HostListner//----------------->

<div class="hostBinList">
  <input type="text" appSample /> <br />

  <p id="dis"></p>
  <button>Click Me</button>
</div>
<!------------//@HostBinding and @HostListner//----------------->
